* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffe4f0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffe4f0;
}

@media (max-width: 600px) {
  h3 {
    font-size: 13px !important;
  }
}